body{
    background-color: darkgrey;
    text-align: center;
}
#heading{
    text-align: center;
    color:rgb(26, 54, 63);
    font-size: 40px;
}
h1{
    display: inline-block;
    width: 100px;
    background-color: white;
}
button{
    color: white;
    background-color: rgb(26, 54, 63);
    height: 30px;
    width: 70px;;
    cursor: pointer; 
    text-align: center;
    margin: 4px 0px 4px 0px ;
   
}
.copyright {
    text-align: center;
    color:rgb(16, 34, 39);
   
}