body{
    background-color: darkgrey;
    text-align: center;
    background-image: url('stop\ watch\ img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#heading{
    text-align: center;
    color:  aliceblue;
    font-size: 40px;
}
h1{
    display: inline-block;
    width: 80px;
    color: white;
}
button{
    color: white;
    background-color: rgb(26, 54, 63);
    height: 30px;
    width: 70px;;
    cursor: pointer; 
    text-align: center;
    margin: 4px 0px 4px 0px ;
   border-radius: 30px;
}
.copyright {
    text-align: center;
    color: white;
   
}